<mat-nav-list>
    <div class="profile-card">
        <div class="header">
            <h2>Usuario {{ user.nickname }}</h2>
            <h4>{{ user.nombre }} {{ user.apellido }}</h4>
        </div>
        <img [src]="urlImg" alt="Soufiane FADIL">
    </div>

    <mat-divider></mat-divider>

    <h2 matSubheader>Pages</h2>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/home">
        <mat-icon>dashboard</mat-icon>
        Dashboard
    </a>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/home/users">
        <mat-icon>people</mat-icon>
        Users
    </a>
    
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/home/dinamic-password">
        <mat-icon>lock_open</mat-icon>
        Clave Dinamica
    </a>

    <mat-divider></mat-divider>

    <h2 matSubheader>Tools</h2>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/home/temporal-password">
        <mat-icon>lock</mat-icon>
        Clave Temporal
    </a>

</mat-nav-list>